<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication4</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
@*      <link rel="stylesheet" href="~/WebApplication4.styles.css" /> *@
 @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication4.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/pages/navbarandfooter.css" />
    <link rel="stylesheet" href="~/pages/table.css" />
    <link rel="stylesheet" href="~/pages/edit.css" />
    <link rel="stylesheet" href="~/pages/delet.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="nav">
            <div class="navContainer">
                <div class="leftLinks">
                    <a class="link" asp-area="" asp-controller="Home" asp-action="Index">MiniUdemy</a>
                    <a class="link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a class="link" asp-area="" asp-controller="Home" asp-action="Index">Категорії</a>
                </div>
                <div class="rightLinks">

                    <div class="dropdown">
                        <img src="~/img/round-account-button-with-user-inside_61205.png" width="25" height="25" class="dropdownBtn link" />
                        <div class="dropdownMenu">
                            <a class="link" asp-area="" asp-controller="Home" asp-action="Index">Профіль</a>
                            <a class="link" asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a>
                            <a class="link" asp-area="" asp-controller="courses" asp-action="Index">Курси</a>
                            <a class="link" asp-area="" asp-controller="categories" asp-action="Index">Категорії</a>
                            <a class="link" asp-area="" asp-controller="students" asp-action="Index">Студенти</a>
                            <a class="link" asp-area="" asp-controller="teachers" asp-action="Index">Викладачі</a>
                            <a class="link" asp-area="" asp-controller="specializations" asp-action="Index">Спеціалізації</a>
                            <a class="link" asp-area="" asp-controller="difficultylevels" asp-action="Index">Рівень складності</a>
                            <a class="link" asp-area="" asp-controller="teachersSpecializations" asp-action="Index">Спеціалізації вчителів</a>
                        </div>
                    </div>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-col">
            <h4>products</h4>
            <ul>
                <li><a href="#">teams</a></li>
                <li><a href="#">advertising</a></li>
                <li><a href="#">talent</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>network</h4>
            <ul>
                <li><a href="#">technology</a></li>
                <li><a href="#">science</a></li>
                <li><a href="#">business</a></li>
                <li><a href="#">professional</a></li>
                <li><a href="#">API</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="#">about</a></li>
                <li><a href="#">legal</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script type = "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
