@{
    ViewData["Title"] = "Home Page";
}

<div id="countByYearChart"></div>
<div id="countByYearChart2"></div>
<div>
    <input type="range" min="100" max="5000" value="1000" id="speedRange">
</div>

@section Scripts {
    <script>
        let intervalId1;
        let intervalId2;

        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function drawСountByDifLvlChart(yearToCountList, speed) {
            const dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Рівень складності');
            dataTable.addColumn('number', 'Кількість курсів');
            yearToCountList.forEach(item => {
                dataTable.addRow([item.difLvl, item.count]);
            });
            const options = {
                title: 'Розподіл курсів за рівнем складності:',
                width: 600,
                height: 400,
                legend: { position: 'none' }
            };

            const chart = new google.visualization.ColumnChart(document.getElementById('countByYearChart'));

            function updateColors() {
                const numRows = dataTable.getNumberOfRows();
                const colors = [];
                for (let i = 0; i < numRows; i++) {
                    colors.push(getRandomColor());
                }
                options.colors = colors;
                chart.draw(dataTable, options);
            }

            updateColors();
            clearInterval(intervalId1);
            intervalId1 = setInterval(updateColors, speed);
        }

        function drawСountByCategoryChart(yearToCountList, speed) {
            const dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Категорія');
            dataTable.addColumn('number', 'Кількість курсів');
            yearToCountList.forEach(item => {
                dataTable.addRow([item.difLvl, item.count]);
            });
            const options = {
                title: 'Розподіл курсів за категоріями:',
                width: 600,
                height: 400
            };

            const chart = new google.visualization.PieChart(document.getElementById('countByYearChart2'));

            function updateColors() {
                const numRows = dataTable.getNumberOfRows();
                const colors = [];
                for (let i = 0; i < numRows; i++) {
                    colors.push(getRandomColor());
                }
                options.colors = colors;
                chart.draw(dataTable, options);
            }

            updateColors();
            clearInterval(intervalId2);
            intervalId2 = setInterval(updateColors, speed);
        }

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            const speedInput = document.getElementById('speedRange');

            speedInput.addEventListener('input', function () {
                const speed = parseInt(this.value);
                Promise.all([
                    fetch('/api/charts/countByDifLvl').then(response => response.json()),
                    fetch('/api/charts/countByCategory').then(response => response.json())
                ]).then(([data1, data2]) => {
                    drawСountByDifLvlChart(data1, speed);
                    drawСountByCategoryChart(data2, speed);
                });
            });
        }
    </script>
}








@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
@* <div class="wide-hero-banner-slide-module--image-container--PM07Q">
    <picture>
        <img class="baner" src="https://img-c.udemycdn.com/notices/web_carousel_slide/image/db24b94e-d190-4d5a-b1dd-958f702cc8f5.jpg">
    </picture>
</div> *@
@* <a class="link" asp-area="" asp-controller="courses" asp-action="Index">Курси</a>
<div class="card-container">
    <div class="card">
        <div class="rating">
            Рейтинг: <span class="rating-value">2/5</span>
            <span class="stars">★★☆☆☆</span>
        </div>
        <img src="https://img-c.udemycdn.com/course/240x135/1581488_e3e1_2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">Complete C# Masterclass</h4>
            <h6 class="card-text">Denis Panjuta, Michael Guay</h6>
        </div>
    </div>
    <div class="card">
        <div class="rating">
            Рейтинг: <span class="rating-value">0/5</span>
            <span class="stars">☆☆☆☆☆</span>
        </div>
        <img src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"></h4>
            <h6 class="card-text"></h6>
        </div>
    </div>
    <div class="card">
        <div class="rating">
            Рейтинг: <span class="rating-value">0/5</span>
            <span class="stars">☆☆☆☆☆</span>
        </div>
        <img src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"></h4>
            <h6 class="card-text"></h6>
        </div>
    </div>
    <div class="card">
        <div class="rating">
            Рейтинг: <span class="rating-value">0/5</span>
            <span class="stars">☆☆☆☆☆</span>
        </div>
        <img src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"></h4>
            <h6 class="card-text"></h6>
        </div>
    </div>
    <div class="card">
        <div class="rating">
            Рейтинг: <span class="rating-value">0/5</span>
            <span class="stars">☆☆☆☆☆</span>
        </div>
        <img src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title"></h4>
            <h6 class="card-text"></h6>
        </div>
    </div>
    <div class="card">
        <div class="rating">
            Рейтинг: <span class="rating-value">0/5</span>
            <span class="stars">☆☆☆☆☆</span>
        </div>
        <img src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">~</h4>
            <h6 class="card-text">~</h6>
        </div>
    </div>
</div>

<style>

    h6{
        margin:5px 0;
        color: darkgrey;
    }
    .card-container {
        margin-top: 10px !important;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: start;
        max-width: 1090px; /* Задайте максимальну ширину контейнера */
        margin: 0 auto; /* Центруємо контейнер на сторінці */
    }

    .card {
        width: 200px; /* Задайте ширину картки */
        position: relative;
        transition: all 0.3s ease-in-out;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden; /* Щоб обрізати фото, якщо вони не вміщаються */
    }

        .card img {
            width: 100%;
            height: 100px; /* Задайте фіксовану висоту фото */
            object-fit: cover; /* Щоб зберігати пропорції і обрізати фото */
        }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

    .rating {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 5px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease-in-out; /* Додайте анімацію */
    }

    .card:hover .rating {
        opacity: 1;
    }

    .rating-value {
        font-weight: bold;
    }

</style>
 *@